<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EF0D2AE2FA008A1005606BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF0D2C42FA008A3005606BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF0D2CE2FA008A3005606BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
